name: Publish

on:
  push:
    branches:
      - 'main'

jobs:
  publish-rust:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Publish
        uses: katyo/publish-crates@93732b1aad8551d028a5b440f133c4c6ce28fe48 # (v2)
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          ignore-unpublished-changes: true
          path: ./rust

  publish-js:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.0.0
        with:
          version: 8

      - name: Install dependencies
        working-directory: ./js
        run: pnpm install

      - name: Build
        working-directory: ./js
        run: pnpm run build

      - name: Publish
        working-directory: ./js
        env:
          NPM_TOKEN: ${{ secrets.NPM_BOT_TOKEN }}
        run: pnpm -r publish --access public

      - name: Publish internal
        working-directory: ./js
        env:
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv .npmrc.github .npmrc
          pnpm -r publish --no-git-checks
